<h3 class="text-dark">Hesabınız yok mu ?</h3>
<p class="text-dark">Sadece formu doldurun ve kaydolun.</p>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <input
            type="text"
            [ngClass]="{'is-invalid' : hasErrors('fullname') && isTouched('fullname'),
                        'is-valid' : !hasErrors('fullname') && isTouched('fullname')}"
            class="form-control form-control-lg"
            formControlName="fullname"
            placeholder="İsminiz">

        <div *ngIf="hasError('fullname', 'minlength') || hasError('fullname', 'maxlength')" class="invalid-feedback">
            10-30 karakter arasında olmalıdır.
        </div>
    </div>

    <div class="mb-3">
        <input
            type="text"
            [ngClass]="{'is-invalid' : hasErrors('username') && isTouched('username'),
                        'is-valid' : !hasErrors('username') && isTouched('username')}"
            class="form-control form-control-lg"
            formControlName="username"
            placeholder="Kullanıcı Adınız">

        <div *ngIf="hasError('username', 'required')" class="invalid-feedback">
            Kullanıcı Adı Zorunlu
        </div>

        <div *ngIf="hasError('username', 'minlength') || hasError('username', 'maxlength')" class="invalid-feedback">
            5-20 karakter arasında olmalıdır
        </div>
    </div>

    <div class="mb-3">
        <input
            type="text"
            [ngClass]="{'is-invalid' : hasErrors('email') && isTouched('email'),
                        'is-valid' : !hasErrors('email') && isTouched('email')}"
            class="form-control form-control-lg"
            formControlName="email"
            placeholder="Email">

        <div *ngIf="hasError('email', 'required')" class="invalid-feedback">
            Email Zorunlu
        </div>

        <div *ngIf="hasError('email', 'pattern')" class="invalid-feedback">
            Geçersiz e-posta formatı
        </div>  

        <div *ngIf="hasError('email', 'maxlength')" class="invalid-feedback">
            En fazla 30 karakter olabilir
        </div>
    </div>

    <div class="mb-3">
        <input
            type="password"
            [ngClass]="{'is-invalid' : hasErrors('password') && isTouched('password'),
                        'is-valid' : !hasErrors('password') && isTouched('password')}"
            class="form-control form-control-lg"
            formControlName="password"
            placeholder="Şifreniz">

        <div *ngIf="hasError('password', 'required')" class="invalid-feedback">
            Şifre zorunlu
        </div>

        <div *ngIf="hasError('password', 'minlength') || hasError('password', 'maxlength')" class="invalid-feedback">
            10-50 karakter arasında olmalıdır
        </div>
    </div>

    <div class="mb-3">
        <input
            type="password"
            [ngClass]="{'is-invalid' : 
                        (formHasError('isMatching') || hasErrors('confirmPassword')) 
                        && isTouched('confirmPassword'),
                        'is-valid' : 
                        (!formHasError('isMatching') && !hasErrors('confirmPassword'))
                        && isTouched('confirmPassword')}"
            class="form-control form-control-lg"
            formControlName="confirmPassword"
            placeholder="Şifreyi Onayla">

        <div *ngIf="hasError('confirmPassword', 'required')" class="invalid-feedback">
            Parola onaylama zorunlu
        </div>

        <div *ngIf="formHasError('isMatching')" class="invalid-feedback">
            Parolalar uyuşmuyor
        </div>
    </div>

    <button class="btn btn-block mb-3 bg-primary text-light"
    [disabled]="!registerForm.valid">Kayıt Ol!</button>

</form>
