<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">

        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>MBRKCL BLOG</a>

        <button class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarNav"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav" id="collapseBasic" [collapse]="isCollapsed">

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink='/blogs' routerLinkActive='active'>Bloglar</a>
                </li>

                <li class="nav-item" *ngIf="!accountService.isLoggedIn()">
                    <a class="nav-link" routerLink='/login' routerLinkActive='active'>Giriş Yap</a>
                </li>
            </ul>

            <div class="btn-group" dropdown *ngIf="accountService.isLoggedIn()">

                <button 
                id="button-animated"
                dropdownToggle
                type="button"
                class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-animated"
                *ngIf="accountService.currentUserValue">
                Welcome {{ accountService.currentUserValue.username }}! <span class="caret"></span>
            </button>            

                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-animated">
                    <li role="menuitem">
                        <a class="dropdown-item" routerLink='/photo-album'>Fotoğraflar</a>
                    </li>
                    <li role="menuitem">
                        <a class="dropdown-item" routerLink='/dashboard'>Gösterge Paneli</a>
                    </li>
                    <li role="divider dropdown-divider"></li>
                    <li role="menuitem">
                        <a class="dropdown-item" (click)="logout()">Çıkış Yap</a>
                    </li>
                </ul>

            </div>
                
        </div>

    </div>
</nav>